<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/0dafaa963c.js"></script>
    <title>Document</title>
</head>

<body>

    <div class="nav">
    </div>

    <div id="app">
        <div class="product">

            <div class="product-image">
                <img class="img" v-bind:src="image" v-bind:alt="alt">
            </div>

            <div class="product-info">
                <h1>{{ title }}</h1>
                <h4>{{ description }}</h4>

                <ul>
                    <li v-for="detail in product.details">{{ detail }}</li>
                </ul>

                <div class="color-box" 
                v-for="(variant,index) in product.variants"
                 :key="variant.variantId"
                    @mousedown="updateProduct(index)" 
                    :style="{ backgroundColor: variant.variantColor}">
                </div>

                <h3>Tamanhos disponíveis</h3>

                <div class="display" v-for="size in product.sizes">
                    <span style="color: rgb(2, 153, 40)">
                        {{ size }}
                    </span>
                </div>

                <br><br>

                <a v-bind:href="product.about" target="_blank"><button class="btn"> + Detalhes</button></a>

                <div v-show="onSale" class="stock">
                    <p style="font-weight: bold">A venda</p>

                    <p v-if="onSale > 0 && onSale > 5"
                        style="color: blue; font-weight: bold">Em estoque imediato</p>

                    <p v-else style="color: orange; font-weight: bold">Acabando!</p>

                </div>

                <p v-if="!onSale" :class="{ line: !onSale }" style="color: red; font-weight: bold">Sem estoque</p>
                
                <div class="cart">
                    &nbsp;&nbsp;&nbsp;<i class="fas fa-shopping-cart"></i> ( {{ product.cart }} ) &nbsp;&nbsp;
                    &nbsp;<i v-on:click="removeCart" class="fas fa-minus remove"></i> &nbsp;
                </div>

                <button id="buy" v-on:click="addToCart" :disabled="!onSale" :class="{ disable: !onSale }">
                    Adicionar ao carrinho
                </button>

            </div>

        </div>
    </div>

    <script src="vue.js"></script>
    <script src="script.js"></script>
</body>

</html>