body{
    font-family: 'Oswald', sans-serif;
    margin: 0 ;  
    padding: 0 ; 
}

#app{
    margin: 15px
}

.nav{
    height: 50px;
    width: 100%;
    background: rgb(2, 153, 40);
}

.img{
    width: 50%;
    height: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.btn{
    height: 30px;
    border-radius: 25px 25px 25px 25px;
    border: 0px solid #000000;
    outline: none !important
}

.btn:hover{
    color: white;
    background: rgb(2, 153, 40);
    cursor: pointer;
}

a{
    outline: none !important
}

.display{
    display: inline
}

#buy {
    float: right;
    height: 50px;
    font-size: 1em;
    color: white;
    font-weight: bold;
    text-align: center;
    background: rgb(1, 90, 24);
    border: 0;
    border-bottom: 2px solid rgb(9, 71, 26);
    cursor: pointer;
    -webkit-box-shadow: inset 0 -2px rgb(9, 71, 26);
    box-shadow: inset 0 -2px rgb(9, 71, 26);
    margin-bottom: 50px
  }

  #buy:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .cart{
      padding-top: 10px;
      padding-bottom: 15px;
      float: right;
      margin-left: 5px;
      background: grey;
      color: white
  }

  .remove{
      cursor: pointer;
      color: red
  }

  .color-box{
      width:40px;
      height: 40px;
      margin-top: 5px;
  }

  .disable{
      background: #d8d8d8 !important;
      border-bottom: 2px solid grey !important;
      cursor: not-allowed !important;
      -webkit-box-shadow: inset 0 -2px grey !important;
      box-shadow: inset 0 -2px grey !important;
  }

.line{
    text-decoration: line-through;
}